SECRET_KEY=<REDACTED>
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_PORT=6379

DJANGO_PORT=8000

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

CORS_ALLOW_ALL_ORIGINS=1
